.git
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
ai-services
database/database.sqlite
node_modules
public/build
public/hot
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor
